<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="add-item">
        <label for="title">Title:</label>
        <input type="text" class='form-control' name="title" id='title' #title>
        <label for="description">Description:</label>
        <textarea name="description" class='form-control' id='description' rows='5' #description></textarea>
        <div class="col-md-12 center">
          <input type="button" class='btn btn-success' (click)="onAddItem(title.value, description.value); changePage(0, true);" value="Add">
        </div>
      </div>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-md-3 filter">
      <form>
        <div class="form-group">
          <label for='byTitle'>Titles:</label>
          <input type='text' id='byTitle' class='form-control' (input)='filterItems("title", filterTitle.value)' #filterTitle>
        </div>
        <div class="form-group">
          <label for='byDate'>Date:</label>
          <input type='text' id='byDate' data-provide="datepicker" data-date-format="mm.dd.yy" class='form-control' (input)='filterItems("dateTime", filterDate.value)' (focus)='filterItems("dateTime", filterDate.value)' #filterDate>
        </div>
      </form>
    </div>
    <div class="items col-md-9">
      <div class="card-deck">
        <div class="item card" *ngFor="let item of filteredItems">
          <div class="card-header">
            <div class="justify-content-between flex">
                <input  type='text' class='title' value='{{ item.title }}' (blur)='onEditTitle(item, newTitle.value)' #newTitle>
                <i class="fa fa-times remove" (click)='onRemoveItem(item.id); changePage(0, null, true);' aria-hidden="true"></i>
            </div>
          </div>
          <div class="card-body">
            <textarea class='description' rows='5' ref-textarea (blur)='onEditDescription(item, textarea.value)'>{{ item.description }}</textarea>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              Added: {{ item.dateTime }}
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 offset-md-3 pagination" [ngClass]='{hidden: totalPages == 0}'>
      <div class="page-wrapper">
        <div class="page" (click)='changePage(-1)'><</div>
        <div class="page" [ngClass]='{active:page == currentPage}' *ngFor='let page of pagesArr' (click)='currentPage=page; filterItems("","",page)'>{{page}}</div>
        <div class="page" (click)='changePage(1)'>></div>
      </div>
    </div>
  </div>
</div>

